<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1078644230560-khk6qlpoufti60gdevgvavcrac12km7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078644230560-khk6qlpoufti60gdevgvavcrac12km7c</string>
	<key>API_KEY</key>
	<string>AIzaSyBNtlJva8dxHnpIaczfiRCJztXTPeIPldg</string>
	<key>GCM_SENDER_ID</key>
	<string>1078644230560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brickstudios.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>innernepal-dca5b</string>
	<key>STORAGE_BUCKET</key>
	<string>innernepal-dca5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078644230560:ios:86a9c8762017d4e3</string>
	<key>DATABASE_URL</key>
	<string>https://innernepal-dca5b.firebaseio.com</string>
</dict>
</plist>